// colors
$black: #2b2942;
$black_subtle: #4b4962;
$white: #cbe3e7;
$white_subtle: #a6b3cc;
$challenger: #1b182c;
$challenger-subtle: #100e23;
$cyan: #aaffe4;
$green: #95ffa4;
$red: #ff8080;

// fonts
$font-family: 'IBM Plex Mono', monospace;
$font-size: 14px;
$font-weight: 300;
$bold: 500;

// spacing
$GU: 16px;
$space: $GU;
$x-space: 100px;
